{% extends "base.html.twig" %}

{% block body %}
    <table class="table table-dark">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Currency</th>
            <th scope="col">Code</th>
            <th scope="col">Mid</th>
        </tr>
        </thead>
        <tbody>
        {% for item in currency %}
            <tr>
                <th scope="row">{{ loop.index}}</th>
                <td>{{ item.currency }}</td>
                <td>{{ item.code }}</td>
                <td>{{ item.mid }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <canvas id="myChart" width="400" height="400" data-currency="{{ currency|json_encode }}"></canvas>
{% endblock %}